<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">First Star Logistics</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Load</a>
        <a class="p-2 text-dark" href="#">Customer</a>
        <a class="p-2 text-dark" href="#">Carrier</a>
        <a class="p-2 text-dark" href="#">Tools</a>
      </nav>
      <!-- <a class="btn btn-outline-primary" href="#">Sign up</a> -->
      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">Pro #</label>
          <input type="password" class="form-control" id="inputPassword2" placeholder="Pro #">
        </div>
        <button type="submit" class="btn btn-primary mb-2"><span class="oi oi-magnifying-glass"></span></button>
      </form>
    </div>

    <div class="px-2 py-2 pt-md-3 pb-md-3 mx-auto text-center">
      <h1 class="display-4"><span class="oi oi-icon-name" title="icon name" aria-hidden="true"></span> Available Loads</h1>
      <p class="lead">Use this table to view availble loads.</p>
    </div>

    <div class="container-fluid">
      <nav id="navbar-example2" class="navbar navbar-light">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="#mdo">Show All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#mdo">Print</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Export</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#one">Excel</a>
              <a class="dropdown-item" href="#two">CSV</a>
              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item" href="#three">Online Drive</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#mdo">Views</a>
          </li>
        </ul>
        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Search</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Search">
          </div>
        </form>
      </nav>
      <br />
      <div class="table-responsive">
        <table class="table table-hover table-xl">
          <thead class="thead-light">
            <tr>
              <th scope="col">Load#</th>
              <th scope="col">Agent</th>
              <th scope="col">Status</th>
              <th scope="col">Customer</th>
              <th scope="col">Cust. Ref#</th>
              <th scope="col">Pickup</th>
              <th scope="col">PU Address</th>
              <th scope="col">#P</th>
              <th scope="col">Delivery</th>
              <th scope="col">DL Address</th>
              <th scope="col">#D</th>
              <th scope="col">Low Bid</th>
              <th scope="col">Carrier</th>
              <th scope="col">Cust Rate</th>
              <th scope="col">Carrier Rate</th>
              <th scope="col">Bol</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">123456</th>
              <td>James Smith</td>
              <td><span class="badge badge-pill badge-warning p-1">Loaded</span></td>
              <td>ACME Organic Products, Inc</td>
              <td>xxx-xxxx</td>
              <td>date/time</td>
              <td>123 Some Address Dr</td>
              <td><span class="badge badge-pill badge-dark">2</span></td>
              <td>date/time</td>
              <td>123 Some Address Dr</td>
              <td><span class="badge badge-pill badge-dark">2</span></td>
              <td>??</td>
              <td>Landstar Ranger, LLC</td>
              <td>$xxxx.xx</td>
              <td>$xxxx.xx</td>
              <td><span class="oi oi-check"></span></td>
            </tr>
            <tr>
              <th scope="row">123456</th>
              <td>James Smith</td>
              <td><span class="badge badge-pill badge-danger p-1">Open</span></td>
              <td>ACME Organic Products, Inc</td>
              <td>xxx-xxxx</td>
              <td>date/time</td>
              <td>123 Some Address Dr</td>
              <td><span class="badge badge-pill badge-dark">2</span></td>
              <td>date/time</td>
              <td>123 Some Address Dr</td>
              <td><span class="badge badge-pill badge-dark">2</span></td>
              <td>??</td>
              <td>Landstar Ranger, LLC</td>
              <td>$xxxx.xx</td>
              <td>$xxxx.xx</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">123456</th>
              <td>James Smith</td>
              <td><span class="badge badge-pill badge-info p-1">Assigned</span></td>
              <td>ACME Organic Products, Inc</td>
              <td>xxx-xxxx</td>
              <td>date/time</td>
              <td>123 Some Address Dr</td>
              <td><span class="badge badge-pill badge-dark">2</span></td>
              <td>date/time</td>
              <td>123 Some Address Dr</td>
              <td><span class="badge badge-pill badge-dark">2</span></td>
              <td>??</td>
              <td>Landstar Ranger, LLC</td>
              <td>$xxxx.xx</td>
              <td>$xxxx.xx</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">123456</th>
              <td>James Smith</td>
              <td><span class="badge badge-pill badge-success p-1">Delivered</span></td>
              <td>ACME Organic Products, Inc</td>
              <td>xxx-xxxx</td>
              <td>date/time</td>
              <td>123 Some Address Dr</td>
              <td><span class="badge badge-pill badge-dark">2</span></td>
              <td>date/time</td>
              <td>123 Some Address Dr</td>
              <td><span class="badge badge-pill badge-dark">2</span></td>
              <td>??</td>
              <td>Landstar Ranger, LLC</td>
              <td>$xxxx.xx</td>
              <td>$xxxx.xx</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>