<div class="container-fluid">
  <h2>Serif Font Family</h2>
  <hr />
  <ul>
    <li>-apple-system</li>
    <li>BlinkMacSystemFont</li>
    <li>"Segoe UI"</li>
    <li>Roboto</li>
    <li>"Helvetica Neue"</li>
    <li>Arial</li>
    <li>sans-serif</li>
    <li>"Apple Color Emoji"</li>
    <li>"Segoe UI Emoji"</li>
    <li>"Segoe UI Symbol"</li>
    <li>"Noto Color Emoji"</li>
  </ul>
</div>
<br />

<div class="container-fluid">
  <h2>Headings</h2>
  <hr />
  <h1>h1. Heading</h1>
  <h2>h2. Heading</h2>
  <h3>h3. Heading</h3>
  <h4>h4. Heading</h4>
  <h5>h5. Heading</h5>
  <h6>h6. Heading</h6>
</div>
<br />

<div class="container-fluid">
  <h2>Paragraph Tag Heading Emulation</h2>
  <hr />
  <p class="h1">h1. Bootstrap heading</p>
  <p class="h2">h2. Bootstrap heading</p>
  <p class="h3">h3. Bootstrap heading</p>
  <p class="h4">h4. Bootstrap heading</p>
  <p class="h5">h5. Bootstrap heading</p>
  <p class="h6">h6. Bootstrap heading</p>
</div>