<div class="container">
  <h2>Three Column</h2>
  <hr />
  <div class="row">
    <div class="col-sm border border-white p-4 bg-secondary">
      One of three columns
    </div>
    <div class="col-sm border border-white p-4 bg-secondary">
      One of three columns
    </div>
    <div class="col-sm border border-white p-4 bg-secondary">
      One of three columns
    </div>
  </div>
</div>
<br />

<div class="container">
  <h2>Two/Three Columns Stacked</h2>
  <hr />
  <div class="row">
    <div class="col border border-white p-4 bg-secondary">
      1 of 2
    </div>
    <div class="col border border-white p-4 bg-secondary">
      2 of 2
    </div>
  </div>
  <div class="row">
    <div class="col border border-white p-4 bg-secondary">
      1 of 3
    </div>
    <div class="col border border-white p-4 bg-secondary">
      2 of 3
    </div>
    <div class="col border border-white p-4 bg-secondary">
      3 of 3
    </div>
  </div>
</div>
<br />

<div class="container-fluid">
  <h2>Full Width Column</h2>
  <hr />
  <p class="p-4 text-white bg-primary">.container-fluid</p>
</div>